Repository thpham/parkml: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-backend, eslint-frontend, typescript-backend, typescript-frontend, typescript-shared, npm-audit, dependency-check, prisma-validate, prisma-format, validate-translations

eslint-backend:
  name: ESLint Backend
  entry: bash -c 'cd apps/backend && npm run lint -- --max-warnings 10'
  language: system
  pass_filenames: false

eslint-frontend:
  name: ESLint Frontend
  entry: bash -c 'cd apps/frontend && npm run lint -- --max-warnings 10'
  language: system
  pass_filenames: false

typescript-backend:
  name: TypeScript Check Backend
  entry: bash -c 'cd apps/backend && npm run typecheck'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check Frontend
  entry: bash -c 'cd apps/frontend && npm run typecheck'
  language: system
  pass_filenames: false

typescript-shared:
  name: TypeScript Check Shared
  entry: bash -c 'cd packages/shared && npm run typecheck'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'npm audit --audit-level=moderate'
  language: system
  pass_filenames: false

dependency-check:
  name: Check for vulnerable dependencies
  entry: bash -c 'npx check-audit-level || exit 0'
  language: system
  pass_filenames: false

prisma-validate:
  name: Validate Prisma Schema
  entry: bash -c 'cd apps/backend && npx prisma validate'
  language: system
  pass_filenames: false

prisma-format:
  name: Format Prisma Schema
  entry: bash -c 'cd apps/backend && npx prisma format'
  language: system
  pass_filenames: false

validate-translations:
  name: Validate translation files
  entry: bash -c 'cd apps/frontend && find src/locales -name "*.json" -exec python3 -m json.tool {} \; > /dev/null'
  language: system
  pass_filenames: false

fix: resolve monorepo workspace references and CI pipeline dependencies
  .github/workflows/ci.yml
  package.json
Due: npm-audit, dependency-check

feat: re-enable critical ESLint rules and fix React hooks violations
  .pre-commit-config.yaml
  apps/backend/.eslintrc.json
  apps/backend/package.json
  apps/frontend/.eslintrc.json
  apps/frontend/package.json
  apps/frontend/src/components/dashboard/Dashboard.tsx
  packages/shared/.eslintrc.json
Due: eslint-frontend, typescript-frontend, npm-audit

fix: critical JWT and crypto type safety vulnerabilities
  apps/backend/src/crypto/crypto-service.ts
  apps/backend/src/crypto/emergency-access-crypto.ts
  apps/backend/src/middleware/sessionAuth.ts
  apps/backend/src/services/SecurityAuditService.ts
Due: eslint-backend, typescript-backend

fix: resolve critical Prisma validation errors and Dashboard infinite loop
  apps/backend/src/crypto/access-control-middleware.ts
  apps/backend/src/crypto/access-control.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/assignments.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/emergency-access.ts
  apps/backend/src/routes/organizations.ts
  apps/backend/src/routes/patients.ts
  apps/backend/src/routes/symptom-entries.ts
  apps/backend/src/routes/users.ts
  apps/frontend/src/components/admin/AdminDashboard.tsx
  apps/frontend/src/components/caregiver/CaregiverDashboard.tsx
  apps/frontend/src/components/dashboard/Dashboard.tsx
  apps/frontend/src/components/patient/PatientConsentDashboard.tsx
  apps/frontend/src/components/profile/security/PasskeyManager.tsx
  apps/frontend/src/components/profile/security/SecurityAuditLog.tsx
  apps/frontend/src/components/profile/security/TwoFactorSetup.tsx
  packages/shared/.eslintrc.json
  packages/shared/src/crypto/types.ts
  packages/shared/src/index.ts
Due: eslint-backend, eslint-frontend, typescript-backend, typescript-frontend, typescript-shared

feat: systematically eliminate infinite loop anti-pattern across all dashboard components
  apps/frontend/src/components/admin/AdminDashboard.tsx
  apps/frontend/src/components/admin/Analytics.tsx
  apps/frontend/src/components/admin/CaregiverAssignments.tsx
  apps/frontend/src/components/admin/EmergencyAccess.tsx
  apps/frontend/src/components/admin/OrganizationManagement.tsx
  apps/frontend/src/components/admin/UserManagement.tsx
  apps/frontend/src/components/dashboard/Dashboard.tsx
  apps/frontend/src/components/patient/PatientConsentDashboard.tsx
Due: eslint-frontend, typescript-frontend

feat: achieve complete TypeScript type safety by eliminating all explicit 'any' types
  apps/frontend/src/components/admin/OrganizationManagement.tsx
  apps/frontend/src/components/auth/LoginForm.tsx
  apps/frontend/src/components/layout/Layout.tsx
  apps/frontend/src/components/patient/PatientConsentDashboard.tsx
  apps/frontend/src/components/profile/NotificationsSection.tsx
  apps/frontend/src/components/profile/PersonalInfoSection.tsx
  apps/frontend/src/components/profile/PreferencesSection.tsx
  apps/frontend/src/components/profile/security/PasskeyManager.tsx
  apps/frontend/src/components/symptoms/sections/EnvironmentalFactorsSection.tsx
  apps/frontend/src/components/symptoms/sections/MotorSymptomsSection.tsx
  apps/frontend/src/hooks/useTranslation.ts
  apps/frontend/src/i18n/index.ts
Due: eslint-frontend, typescript-frontend

feat: eliminate all TypeScript 'any' types in consent.ts with proper type interfaces
  apps/backend/src/routes/consent.ts
Due: eslint-backend, typescript-backend

feat: eliminate all explicit 'any' types in emergency-access-crypto.ts
  apps/backend/src/crypto/emergency-access-crypto.ts
Due: eslint-backend, typescript-backend

feat: eliminate all TypeScript 'any' types in users.ts with Prisma-generated types
  apps/backend/src/routes/users.ts
Due: eslint-backend, typescript-backend

feat: eliminate all TypeScript 'any' types in homomorphic-analytics.ts
  apps/backend/src/crypto/homomorphic-analytics.ts
Due: eslint-backend, typescript-backend

feat: eliminate all TypeScript 'any' types in performance-audit.ts
  apps/backend/src/crypto/performance-audit.ts
Due: eslint-backend, typescript-backend

feat: eliminate all TypeScript 'any' types in crypto-service.ts
  apps/backend/src/crypto/crypto-service.ts
Due: eslint-backend, typescript-backend

feat: eliminate all TypeScript 'any' types in emergency-access.ts
  apps/backend/src/routes/emergency-access.ts
Due: eslint-backend, typescript-backend

feat: achieve complete backend TypeScript type safety by eliminating all explicit 'any' types
  apps/backend/package.json
  apps/backend/src/crypto/abe-crypto.ts
  apps/backend/src/crypto/access-control-middleware.ts
  apps/backend/src/crypto/data-migration.ts
  apps/backend/src/crypto/encryption-middleware.ts
  apps/backend/src/crypto/proxy-re-encryption.ts
  apps/backend/src/crypto/wasm-loader.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/analytics.ts
  apps/backend/src/routes/assignments.ts
  apps/backend/src/routes/data-migration.ts
  apps/backend/src/routes/homomorphic-analytics.ts
  apps/backend/src/routes/organizations.ts
  apps/backend/src/routes/patients.ts
  apps/backend/src/routes/proxy-re-encryption.ts
  apps/backend/src/routes/security.ts
  apps/backend/src/routes/symptom-entries.ts
  apps/backend/src/services/SessionManagerService.ts
  apps/backend/src/services/emergency-access-cleanup.ts
  package-lock.json
Due: eslint-backend, typescript-backend, npm-audit, dependency-check

Path conditions:
  eslint-backend: any of: ^apps/backend/.*\.(ts|js)$
  eslint-frontend: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  typescript-backend: any of: ^apps/backend/.*\.(ts|js)$
  typescript-frontend: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  typescript-shared: any of: ^packages/shared/.*\.(ts|js)$
  npm-audit: any of: ^(package\.json|package-lock\.json|apps/.*/package\.json|packages/.*/package\.json)$
  dependency-check: any of: ^(package\.json|package-lock\.json)$
  prisma-validate: any of: ^apps/backend/prisma/schema\.prisma$
  prisma-format: any of: ^apps/backend/prisma/schema\.prisma$
  validate-translations: any of: ^apps/frontend/src/locales/.*\.json$
